config/
node_modules/
/client/static/assets/main
# /server/themes/*
# !/server/themes/example.coffee
.claude/
!/server/themes/readme.md
/client/static/front-assets
/language/*/*.missing.json
/.vs
CLAUDE.md
